<div class="container">
    <div class="row">
        <aside class="sidebar col-md-3">
            <nav role="navigation">
                <ul class="nav nav-pills nav-stacked">
                    {{#link-to 'blog' tagName='li'}}<a {{bind-attr href="view.href"}}>Blog</a>{{/link-to}}
                    {{#link-to 'table' tagName='li'}}<a {{bind-attr href="view.href"}}>Table</a>{{/link-to}}
                </ul>
            </nav>
        </aside>
        <div class="col-md-9">
            {{outlet}}
        </div>
    </div>
</div>