<div class="container">
    <div class="row">
        <aside class="sidebar col-md-3">
            {{outlet sidebar}}
        </aside>
        <div class="col-md-9">
            {{outlet}}

            <article>
                <header>
                    <h1><a href="/2-cras">Cras</a></h1>
                </header>


                <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum id ligula porta felis euismod semper. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Etiam porta sem malesuada magna mollis euismod.</p>        <a class="article__readmore" href="/2-cras">Read more</a>
            </article>    
            <article>
                <header>
                <h1><a href="/3-elit-adipiscing">Elit Adipiscing</a></h1>
                                </header>


                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec sed odio dui. Nullam id dolor id nibh ultricies vehicula ut id elit. Curabitur blandit tempus porttitor.</p>        <a class="article__readmore" href="/3-elit-adipiscing">Read more</a>
            </article>    
            <article>
                <header>
                <h1><a href="/5-nibh-vulputate">Nibh Vulputate</a></h1>
                                </header>


                <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit. Vestibulum id ligula porta felis euismod semper. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum.</p>        <a class="article__readmore" href="/5-nibh-vulputate">Read more</a>
            </article>
        </div>
    </div>
</div>
