<section>
                
    <div class="page-header">
        <h1>Table</h1>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th width="100%">
                    Title
                </th>
            </tr>
        </thead>
        <tbody>
            {{#each}}
            <tr>
                <td>
                    {{#link-to 'table.article' this}}{{title}}{{/link-to}}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</section>